<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/company.css' %}">
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title> 회사소개 </title>
</head>

<header>
    <a href="/">
        <img class="main_logo" src="/static/img/AmBanSoo_logo.png">
    </a>

    <div class="menu_company">
        <a href="/company/">
            <img class="cominfo_logo" src="/static/img/company_info.png">
        </a>
    </div>

    <div class="menu_product">
        <a href="/product/">
            <img class="proinfo_logo" src="/static/img/product_info.png">
        </a>
    </div>

    <div class="menu_buying">
        <a href="/buying/">
            <img class="buying_logo" src="/static/img/buy.png">
        </a>
    </div>

    <div class="line">
        <img src="/static/img/line.png">
    </div>
</header>

<body>
    <div class="cominfo_bg" align="center">
        <img src="/static/img/company_main.png">
    </div>
</body>

<footer>
    <div class="footer" align="center">
        <img src="/static/img/footer_black.png">
    </div>
</footer>

</html>