<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title> AmBanSoo 암반수 </title>
</head>

<header>
    <div class="main_logo">
        <a href="/"><img src="/static/img/AmBanSoo_logo.png" width="90%"></a>
    </div>

    <div class="menu_company">
        <a href="/company/"><img src="/static/img/company_info.png" width="90%"></a>
    </div>

    <div class="menu_product">
        <a href="/product/"><img src="/static/img/product_info.png" width="90%"></a>
    </div>

    <div class="menu_buying">
        <a href="/mall/"><img src="/static/img/buy.png" width="90%"></a>
    </div>
</header>

<body class="main">

</body>

</html>