<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title> AmBanSoo 암반수 </title>
</head>

<header>
    <a href="/">
        <img class="main_logo" src="/static/img/main_logo.png">
    </a>

    <div class="menu_company">
        <a href="/company/">
            <img class="cominfo_logo" src="/static/img/company_info.png">
        </a>
    </div>

    <div class="menu_product">
        <a href="/product/">
            <img class="proinfo_logo" src="/static/img/product_info.png">
        </a>
    </div>

    <div class="menu_buying">
        <a href="/buying/">
            <img class="buying_logo" src="/static/img/buy.png">
        </a>
    </div>
</header>

<body>
    <img class="intro" src="/static/img/main_intro.png">
</body>

</html>