header {
    position: fixed;
    margin-top: 40px;
    margin-left: 50px;
}
header .menu_company a {
    position: fixed;
    top: 40px;
    right: 665px;
}
header .menu_product a {
    position: fixed;
    top: 40px;
    right: 400px;
}
header .menu_buying a {
    position: fixed;
    top: 40px;
    right: 150px;
}

body {
    margin-left: 0px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body .intro {
    position: fixed;
    bottom: 25px;
    right: 50px;
}