<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/mall/" class="nav-link px-2 text-secondary">암반수mall</a></li>
              <li><a href="#" class="nav-link px-2 text-white">장바구니</a></li>
              <li><a href="/" class="nav-link px-2 text-white">브랜드사이트</a></li>
            </ul>

            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center justify-content-lg-end mb-md-0">
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}" class="nav-link px-2 text-white"> {{ user.username }} (logout) </a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="nav-link px-2 text-white"> login </a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
</nav>

